
:root {
  --main-green: #c2ddae;
  --accent-dark-green: #1D5E12;
  --accent-light-green-primary: #59A42C;
  --accent-light-green-secondary: #236715;
  --blue-click: #007bff;
  --black: #000000;
  --white: #ffffff;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/* Admin Landing Container */
  .EmployeeLanding {
    min-height: 100vh;
  height: auto;
  overflow-y: auto;
    background-color: #c2ddae; /* Blue background */
    color: white; /* Set text color to white for contrast */
    display: flex;
  }
  .Employee-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;;
    position: relative;
    z-index: 1;
  }

  .uploadReceipt {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #FFF;
    padding: 20px;
    height: auto;
    width: 70%;
    box-shadow: #1D5E12 20px 20px 0px 0px;
  }
  .uploadReceipt h2 {
    color: var(--accent-dark-green);
    text-align: center;
  }
  .uploadReceiptHeader {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
  }
  .uploadReceiptContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .receiptUploadForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 50%;

  }
  button.uploadReceiptButton {
    background-color: #DDD;
    color: #999;
    border: 3px solid #CCC;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    height: 80%;
    align-self: center;
  }
  button.submitReceiptButton {
    background-color: var(--accent-light-green-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    width: 40%;
    align-self: center;
  }
  .manualEntryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 50%;
    margin: 10px;
    padding-right: 20px;
  }
  .manualEntryForm label {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* optional, for left-aligning the label text */
    gap: 2px; /* adds spacing between label text and input */
    font-size: 20px;
    color: var(--accent-dark-green);
  }
  .manualEntryForm input {
    padding: 5px;
    border: 1px solid #EEE;
    width: 100%;
    background-color: #EEE;
  }
  .manualEntryForm textarea {
    padding: 5px;
    border: 1px solid #EEE;
    width: 100%;
    background-color: #EEE;
  }
  .twoColumnLayout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 100%;
  }
  .halfItem1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 50%;
    padding-right: 20px;
  }
  .halfItem2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    width: 50%;

  }
  .manualEntryForm button {
    background-color: var(--accent-dark-green);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    width: 70%;
    align-self: center;
  }


  .contentHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -50px;

  }
  
  /* Header Styling */
  .Employee-sidebar {
    background-color: #FFF;
    width: 200px; /* fixed */
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.128);
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: -50px;
  }
  .navbar-logo-container {
    height: 80px;
    top: 0px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .navbar-logo {
    width: 150px; 
    height: 150px
  }
  
  /* Headline Styling */
  .Employee-landing-container h1 {
    font-size: 2.5rem;
    color: white; 
  }



  .navbar-dropdowns {
    display: flex;
    justify-content: flex-start;
    flex-grow: 10;
    margin-right:550px;
  }
  
  button.Buttonoption {
    background-color: #d9eeda;
    color: var(--accent-dark-green);
    border-color: var(--accent-dark-green);
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  button.Buttonoption:hover {
    background-color: var(--accent-light-green-primary);
    color: white;
    border-color: var(--accent-dark-green);
  }
  
  /* Sign Out Button */
  .sign-out-btn {
    background-color: var(--light-green);
    color: var(--black);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  /* Media query for mobile view */
  /* @media (max-width: 768px) {

    .buttons {
      display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        left: 20px;
  }
} */

@media (max-width: 768px) {
  .Employee-sidebar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.766);
    margin-top: 0px;
  }
  .contentHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
  }

  .Employee-main {
    margin-left: 0;
    margin-top: 100px;
    padding: 0;
    min-height: 100vh;
    height: auto;          /* allow it to grow */
    overflow-y: auto;      /* allow scroll if needed */ 
  }

  .navbar {
    flex-direction: row;
    gap: 10px;
    justify-content: right;
  }

  .navbar-logo-container {
    margin: 0;
  }

  .navbar-logo {
    width: 80px;
    height: 80px;
    margin-top: -25px;
  }
  button.Buttonoption {
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
  }
  .uploadReceipt {
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }
  .uploadReceiptContent {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .receiptUploadForm {
    width: 100%;
  }
  button.uploadReceiptButton {
    width: 90%;
    height: 50px;

  }
  .manualEntryForm {
    width: 100%;
  }
}