body{margin-top:20px;
    background:#ffffff !important;
    overflow-y: auto !important;
    }
    .title.mb-4{
        font-size: 2.5rem !important;
        font-weight: 600 !important;
        color: var(--black) !important;
        justify-content: center !important;
        padding-top: 60px;
        
    }

    .card.service-wrapper.rounded.border-0.shadow.p-4{
        margin-bottom: 30px !important;
    }

    .text-muted.para-desc.mx-auto.mb-0{
        color: #000000 !important;
        font-size: 1.2rem !important;
        justify-content: center !important;
    }

    #module p.collapse[aria-expanded="false"] {
        display: block;
        height: 53px ;
        overflow: hidden;
    }

    #module p.collapsing[aria-expanded="false"] {
        height: 53px;
    }
    
    #module a.collapsed:after  {
        content: 'Show More';
    }
    
    #module a:not(.collapsed):after {
        content: 'Show Less';
    }
    #module p.collapse[aria-expanded="false"] {
        display: block;
        height: 53px ;
        overflow: hidden;
    }
    
    #module p.collapsing[aria-expanded="false"] {
        height: 53px;
    }
    
    #module a.collapsed:after  {
        content: 'Show More';
    }
    
    #module a:not(.collapsed):after {
        content: 'Show Less';
    }
    
    .collapse.show{
      height: auto !important;
    }

    .service-wrapper {
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .service-wrapper .icon {
      width: 60px;
      height: 60px;
      line-height: 45px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .service-wrapper .big-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.05;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    
    .service-wrapper:hover {
      -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
              box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important; 
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      border-color: transparent !important;
    }
    
    /*ICON HOVER*/
    .icon.text-center.text-custom.h1.shadow.rounded.bg-white:hover {
      background: #59A42C !important;
      color: #ffffff;
    }
    
    /*ICON ANIMATION*/
    .service-wrapper:hover .big-icon {
      z-index: -1;
      opacity: 0.1;
      font-size: 160px;
    }
    
    /*ICON COLORS*/
    .text-custom {
        color: #1D5E12;
    }
